language: generic

stages:
  - test
  - name: doc
    if: branch = master AND type != pull_request

env:
  global:
    - PYENV_VERSION=3.6
    - CHANS_DEV="-c pyviz/label/dev -c ioam -c bokeh -c erdc -c defaults"
    - CHANS_REL="-c pyviz -c erdc -c defaults"

cache:
  directories:
    - $HOME/miniconda

before_cache:
  - rm -rf $HOME/miniconda/pkgs
  - rm -rf $HOME/miniconda/conda-bld/*
  - rm -rf $HOME/miniconda/envs/*/conda-bld

# quick hack to determine what tag is (improvements welcomed)
#     release: ^v(\d+|\.)*[^a-z]\d*$
# dev release: ^v(\d+|\.)*[a-z]\d*$

stages:
  - test
  - name: conda_dev_package
    if: tag =~ ^v(\d+|\.)*[a-z]\d*$
  - name: conda_package
    if: tag =~ ^v(\d+|\.)*[^a-z]\d*$

jobs:
  include:

    ########## TEST DEVELOPER INSTALL ##########

    # quick tests in typical dev env (most tests are run on packages)

    - &default
      stage: test
      before_install:
        # install doit/pyctdev and use to install miniconda...
        - pip install pyctdev && doit miniconda_install && pip uninstall -y doit pyctdev
        - export PATH="$HOME/miniconda/bin:$PATH" && hash -r
        - conda config --set always_yes True
        - conda config --set path_conflict prevent
        # ...and now install doit/pyctdev into miniconda
        - conda install -c pyviz/label/dev pyctdev && doit ecosystem_setup
      install:
        - doit env_create $CHANS_DEV --python=$PYENV_VERSION
        - source activate test-environment
        - doit develop_install $CHANS_DEV -o recommended
        - doit env_capture
      script:
        - earthsim fetch-data --path=examples
        - travis_wait 60 doit test_all

      # TODO: restore macos if travis has recovered

#    - <<: *default
#      stage: doc
#      script:
#        - doit install_doc_dependencies
#        - doit download_sample_data
#        - travis_wait 60 doit docs
#      deploy:
#        provider: pages
#        skip_cleanup: true
#        github_token: $GITHUB_TOKEN
#        local_dir: ./doc/_build/html

    ########## PACKAGES ##########

    - <<: *default
      stage: conda_dev_package
      env: DESC="" TRAVIS_NOCACHE=$TRAVIS_JOB_ID
      install:
        - doit package_build $CHANS_DEV --test-python=py36 --test-group=all
      script:
        - doit package_upload --token=$CONDA_UPLOAD_TOKEN --label=dev

    - <<: *default
      stage: conda_package
      env: DESC="" TRAVIS_NOCACHE=$TRAVIS_JOB_ID
      install:
        - doit package_build $CHANS_REL --test-python=py36 --test-group=all
      script:
        - doit package_upload --token=$CONDA_UPLOAD_TOKEN --label=dev --label=main

