language: generic

env:
  global:
    - PYENV_VERSION=3.6

stages:
  - test
  - name: doc
    if: branch = master AND type != pull_request

before_install:
  - echo -e "machine github.com\n  login $CI_USER\n  password $CI_USER_PASSWORD" >> ~/.netrc

jobs:
  include:
    - &default
      stage: test
      os: linux
      install:
        # install pyctdev and use to install miniconda...
        - pip install pyctdev && doit -f dodotmp.py miniconda_install && pip uninstall -y doit pyctdev && rm -rf .doit*
        - export PATH="$HOME/miniconda/bin:$PATH" && hash -r
        # updating to pyctdev is on another branch...
        - pip install ioamdoit
        - conda env create
        - source activate earthsim
        - doit develop_install
        - doit capture_conda_env
      script:
        - doit download_sample_data
        - travis_wait 60 doit all_tests

    - <<: *default
      os: osx
      osx_image: xcode9.3
      env: PYENV_VERSION=3.6.4
      before_install:
        # set up python
        - eval "$(pyenv init -)"
        - pyenv install $PYENV_VERSION  
        # check the below still required
        # brew-installed geos interferes with cartopy?
        - brew uninstall --ignore-dependencies geos gdal postgis

    - <<: *default
      stage: doc
      script:
        - doit install_doc_dependencies
        - doit download_sample_data
        ##
        # see github.com/pyviz/EarthSim/issues/113
        - rm -rf examples/topics/batched_example/*.ipynb
        - rm -rf examples/topics/GSSHA_Parameter_Sweep.ipynb
        ##
        - travis_wait 60 doit docs
      deploy:
        provider: pages
        skip_cleanup: true
        github_token: $GITHUB_TOKEN
        local_dir: ./doc/_build/html
