git:
  depth: 100

language: generic

env:
  global:
    - PYENV_VERSION=3.6

stages:
  - test
  - name: user_install
    if: type = cron
  - name: doc
    if: branch = master AND type != pull_request

_osx_config: &_osx_config
  os: osx
  osx_image: xcode9.3
  env: PYENV_VERSION=3.6.4
  before_install:
    # set up python
    - eval "$(pyenv init -)"
    - pyenv install $PYENV_VERSION  
    # check the below still required
    # brew-installed geos interferes with cartopy?
    - brew uninstall --ignore-dependencies geos gdal postgis


jobs:
  include:
    ########## TEST USER INSTALL ##########
    - &default
      stage: test
      before_install: true
      install:
        #####
        # install doit/pyctdev and use to install miniconda...
        - pip install pyctdev && doit miniconda_install && pip uninstall -y doit pyctdev
        - export PATH="$HOME/miniconda/bin:$PATH" && hash -r
        - conda config --set always_yes True
        # ...and now install doit/pyctdev into miniconda
        - conda install -c pyviz "pyctdev>=0.5" && doit ecosystem_setup
        #####
        - conda config --set path_conflict warn
        - conda create -n earthsim -c conda-forge --file=dependencies.txt conda-forge::python=3.6
        - source activate earthsim
        - pip install -e .
        - doit env_capture
      script:
        - earthsim fetch-data --path=examples
        - travis_wait 60 doit test_all
      after_failure:
        - sleep 10

    - <<: *default
      <<: *_osx_config

    ########## DOCS ##########
    - <<: *default
      stage: doc
      env: HV_DOC_HTML="true" DESC="docs"
      script:
        - conda install -c pyviz -c conda-forge nbsite=0.5.1 sphinx_ioam_theme
        - mkdir examples/assets
        - earthsim fetch-data --path=examples
        - nbsite generate-rst --org pyviz --project-name earthsim --offset 0 --skip '^.*Workflow.*$' --skip '^.*Sweep.*$'  --skip '^.*Batched.*$' --skip '^.Specifying.*$'
        - travis_wait 60 nbsite build --what=html --output=builtdocs
      deploy:
        provider: pages
        skip_cleanup: true
        github_token: $GITHUB_TOKEN
        local_dir: ./builtdocs
        fqdn: earthsim.pyviz.org
