language: generic

stages:
  - test
  - name: doc
    if: branch = master AND type != pull_request

before_install:
  - echo -e "machine github.com\n  login $CI_USER\n  password $CI_USER_PASSWORD" >> ~/.netrc

jobs:
  include:
    - &default
      stage: test
      os: linux
      install:
        #######################
        ## install miniconda ##
        - easy_install --user doit==0.29.0 ioamdoit
        - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
            ~/Library/Python/2.7/bin/doit install_miniconda;
          else
            ~/.local/bin/doit install_miniconda;
          fi
        - rm -f .doit.db
        - export PATH="$HOME/miniconda/bin:$PATH"
        #######################
        - pip install ioamdoit
        - conda env create
        - source activate earthsim
        - doit develop_install
        - ls -l /home/travis/miniconda/envs/earthsim/lib/libstdc++*
        - conda remove --force gcc
        - conda install --force -c conda-forge libgcc-ng scipy numpy libstdcxx-ng
        - ls -l /home/travis/miniconda/envs/earthsim/lib/libstdc++*
        - doit capture_conda_env
      script:
        - doit download_sample_data
        - travis_wait 60 doit all_tests

# restore when travis/macos recovers...
#    - <<: *default
#      os: osx
#      before_install:
#        # brew-installed geos interferes with cartopy?
#        - brew uninstall --ignore-dependencies geos gdal postgis
#      if: branch = master AND type != pull_request

    - <<: *default
      stage: doc
      script:
        - doit install_doc_dependencies
        - doit download_sample_data
        - travis_wait 60 doit docs
      deploy:
        edge:
          branch: v1.8.47
        provider: pages
        skip_cleanup: true
        github_token: $GITHUB_TOKEN
        local_dir: ./doc/_build/html
